#parent{
    width:300px;
    height:500px;
    margin: 50px auto;
    border: 2px inset black;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px darkred;
    overflow: hidden;
}
#parent img{
    width:300px;
    height: 200px;
    margin-top:100px;
    margin-left: 20px;
    }
#details{
   margin:110px 50px 0px 0px;
   position: absolute;
   top:300px;
   left:70px;
   overflow:hidden;
}
#parent:hover>img{
    transform: translateY(-50%);
    cursor: pointer;
}
#details{
    background-color: aqua;
    transition: all 1s linear 0s;
}
#details:hover{
    transform: translatey(-200%);
    cursor: pointer;
}