{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c8.css' %}">
</head>
<body>
    <div id="parent">
		<img src="{% static 'images/tajmahal.jpg' %}">
		<div id="wrapper-1">
			<div id="wrapper-2">
				<div id="wrapper-3">
					<div id="wrapper-4">
						<div id="wrapper-5">
							<div id="wrapper-6">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>