{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c4.css' %}">
</head>
<body>
    <div>
        
		<h3>Stop Watch</h3>
		<h1>
			<span id="a">00</span>
		<sub><span id="b">Hr</span></sub>
		<span id="a">00</span>
		<sub><span id="b">Min</span></sub>
		<span id="a">00</span>
		<sub><span id="b">Sec</span></sub>
		<span id="a">00</span>
		</h1>
		<button id="chaithu" style="margin-left: 480px;">Start</button>
		<button id="chaithu" style="margin-left:50px; background-color: mediumblue;">Stop</button>
		<button id="chaithu" style="margin-left:50px; background-color: red;">Reset</button>
	</div>

</body>
</html>