{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="style sheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <div class="main">
            <div id="child" style="background-color: rgb(55, 0, 255);">
                <header >Asia/Kolkata</header>
                <h1>INDIA</h1>
                <h3>2/21/2023</h3>
                <h2>5:41:15PM</h2>
            </div>
            <div id="child" style="background-color: orange;">
                <header>America/New_Tark</header>
                <h1>USA</h1>
                <h3>2/21/2023</h3>
                <h2>7:11:15AM</h2>
            </div>
            <div id="child" style="background-color: hotpink;">
                <header>Asia/Shanghai</header>
                <h1>CHINA</h1>
                <h3>2/21/2023</h3>
                <h2>8:11:15PM</h2>
            </div>
        </div>
</body>
</html>