{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c7.css' %}">
</head>
<body>
    <fieldset align="center">
        <form>
            <table>
                <tr>
                    <td><input type="Email" placeholder="email or username"></td></tr>
                    <tr><td><input type="text" placeholder="first name"></td></tr>
                    <tr><td><input type="text" placeholder="Last name"></td></tr>
                    <tr><td><input type="Email" placeholder="mail"></td></tr>
                    <tr><td><input type="number" placeholder="contact"></td></tr>
                    <tr><td align="center"><input type="date"></td></tr>
                    <tr><td><input type="radio" name="abc">Male<input type="radio" name="abc">Female<input type="radio" name="abc">Others</td>
                    </tr>
                    <tr><td><input type="password"><br> or Login with</td></tr>
                    <tr><td><button>facebook</button><button>google</button><br> not a number signup now</td></tr>
    
                </table>
            </form>
    </fieldset>
</body>
</html>