{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c10.css' %}">
</head>
<body>
    <center>
    <dl>
		<dt>BIRIYANI</dt>
		<ol type="1"><li><dd>veg biriyani</dd></li>
			<li><dd>Hyderabadi Biryani</dd></li>
			<li><dd>Chicken biryani</dd></li>
		</ol>
		<dt>JUICES</dt>
		<ol type="a"><li><dd>mango juice</dd></li>
			<li><dd>orange juice</dd></li>
			<li><dd>kiwi juice</dd></li>
		</ol>
		<dt>ICE CREAME</dt>
		<ol type="I"><li><dd>venilla</dd></li>
			<li><dd>chocolate</dd></li>
			<li><dd>butterscotch</dd></li>
		</ol>
		<dt>HARD DRINKS</dt>
		<ol type="i"><li><dd>black and white</dd></li>
			<li><dd>black dog</dd></li>
			<li><dd>teachers</dd></li>
		</ol>
	</dl>
</center>



</body>
</html>