{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c3.css' %}">
</head>
<body>
    <div class="main">
		<div id="xyz">
			<img src="{% static 'images/Virat.jpeg' %}" id="abc">
			<div style="background-color: red; height: 300px; padding: 15px; width: 240;"><h3>About Virat</h3>
			<p id="mno">Kohli  made Test debut in 2011. he reached the number one spot in the ICC ranking for  CDI batsmen for the first time in 2013. He has won Man of theo Tournment twice  at the ICC World Twenty20 (in 2014 and 2016). He also the leading run scorer of all time in T20 Internationals as well as T20 Word Cups.</p>
			<button id="chaithu">VIRAT</button></div>
		</div>
		<div id="xyz">
			<img src="{% static 'images/pollard.jpeg' %}" id="abc">
			<div style="background-color: purple; height: 300px; padding: 15px; width: 240;"><h3>About Pollard</h3>
			<p id="mno"> Kieron Adrian Pollard (born 12 May 1987) is a retired trinidadian cricketer. He has captained the West Indies cricket team in limited overs  crickets and Trinbago Knight Riders in CPL. He is a right arm medium - fast bowling all-rounder.</p>
			<button id="chaithu">POLLARD</button></div>
		</div>
		<div id="xyz">
			<img src="{% static 'images/ABD.jpeg' %}" id="abc" style="width: 266px;">
			<div style="background-color:green; height: 300px; padding: 15px; width: 240;"><h3>About AB Devillers</h3>
			<p id="mno">De Villiers has scored 22 Test and 25 ODI centuries. He scored his first Test century against English in 2005 and his first ODI century againt West Indies in 2007. He also holds the world record for the fastest 100 and 150 in One-Day Internationals</p>
			<button id="chaithu">ADB</button></div>
		</div>
	</div>
</body>
</html>